@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .btn-active {
        color: #EFF0EF;
        background-color: #25C49A;
    }
    .btn-non-active:hover {
        background-color: #d3f3eb;
    }
    .tab-active {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        transition: 1s ease-in-out;
    }
    .transition-btn {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.5s;
    }

    .text-xxs {
        font-size: 0.60rem;
        line-height: 0.6rem; 
    }

    .fill-fRed{
        fill: #F04E59;
    }
      
    /* social buttons */
    div#social-links {
        margin: 0 auto;
    }
    div#social-links ul {
        padding: 0rem;
        margin: auto;
        width: 8.3rem;
    }
    div#social-links ul li {
        display: inline-block;
    }          
    div#social-links ul li a {
        margin: 1rem;
        font-size: 1.5rem;
        color: #25C49A;
    }
    div#social-links ul li:nth-child(1) a {
        margin-left: 0rem;
    }
    div#social-links ul li:nth-child(3) a {
        margin-right: 0rem;
    }
}